.case {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 50%;
    background-color: white; /* צבע ברירת מחדל */
}

.red {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
  }
  
.green {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
  }