.cell{
width: 60px;
    height: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.red {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
  }
  
  .green {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
  }
  